<body>

<header>
	<nav>
		<div class="page-links">
			<a href="/quizzes">Quizzes</a> | <a href="/quizzes/new">New</a>
		</div>

		<div class="login">
			<% if (!locals.login) { %>
			<a href="#" id="signup" class="auth">Signup</a> | <a href="#" id="login" class="auth">Login</a>
			<% } %>

			<% if (locals.login) { %>
				<a href="/users/profile/<%= locals.userid %>"><%= locals.username %></a> | <a href="/users/logout">Logout</a>
			<% } %>
		</div>

	</nav>

	<h1><a href="/quizzes">Quiz Quiz</a></h1>

	<!-- <a href="#">Link</a> <a href="#">Another</a> -->

</header>

<div id="content-container">


