<html>
<head>
	<title>QuizQuiz</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="/js/quizquiz.js"></script>
	<script type="text/javascript" src="/js/authforms.js"></script>
</head>
<body>

<header>
	<nav>
		<div class="page-links">
			<a href="/quizzes">Quizzes</a> | <a href="/quizzes/new">New</a>
		</div>

		<div class="login">
			<% if (!locals.login) { %>
			<a href="#" id="signup" class="auth">Signup</a> | <a href="#" id="login" class="auth">Login</a>
			<% } %>

			<% if (locals.login) { %>
				<a href="/users/profile/<%= locals.userid %>"><%= locals.username %></a> | <a href="/users/logout">Logout</a>
			<% } %>
		</div>

	</nav>

	<h1><a href="/quizzes">Quiz Quiz</a></h1>

	<!-- <a href="#">Link</a> <a href="#">Another</a> -->

</header>

<div id="content-container">


