* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Regular.ttf);
}

body {
	font-family: "Helvetica"; /* find a better font */
	font-size: 16px;
	color: #292929;
	background-color: #f4f8fb; /* maybe change this to something lighter */
}

.left, .right {
	display: inline-block;
	float: left;
}

.img-thumb {
	width: 100%;
	height: auto;
}

/*.img-thumb {
	width: auto;
	height: 100%;
}
*/
/* HEADER-- nav bar, login link, title */

header {
	width: 100%;	
}

nav {
    width: 100%;
    background-color: #292929;
    /*padding: 0.7em;*/
    padding: 1.2em;
}

nav ul {
	width: 50%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    /*background-color: green;*/
}

nav ul li {
    list-style: none;
    display: inline-block;
    /*width: 20%;  backup if non-calc() fails */
    width: calc(100% / 3);
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    /*background-color: red;*/
}

nav ul li a {
    text-decoration: none;
    font-family: "Lato";
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
}

.page-links {
	position: absolute;
	width: 50%;
	top: 1.5%;
}

.page-links a {
    text-decoration: none;
    font-family: "Lato";
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #ffffff;
}

.login {
	position: absolute;
	right: 2%;
	top: 1.5%;
	color: #d3d3d3;
	font-weight: 100;
}

.login a {
    text-decoration: none;
    font-family: "Lato";
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #ffffff;
}

h1 {
	margin-top: 1em;
	margin-bottom: 0.8em;
	text-align: center;
	font-size: 3.3em;
	font-family: "Times New Roman", serif; /* change this */
	color: #000000;
}

h1 a {
	text-decoration: none;
	color: #000000;
}

/* LOGIN/SIGNUP POPUPS AND FORMS */ 
.blackout {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000000;
	opacity: 0.85;
	overflow: auto;
	z-index: 1;
}

.popup {
	width: 30%;
	height: 50%;
	position: fixed;
	top: 10%; /* 100 minus height divided by 2 */
	left: 35%;
	background-color: #ffffff;
	border-radius: 5px;
	z-index: 2;
}

#closePopup {
	position: absolute;
	top: 1%;
	right: 2%;
	font-style: normal;
	color: #a5a5a5;
}

#closePopup:hover {
	cursor: pointer;
}

.auth-form {
	width: 70%;
	margin: 2.5em auto;
/*	background-color: red;*/
}

.auth-form h4 {
	margin-bottom: 1em;
}

.auth-form input {
	width: 100%;
	display: block;
	font-size: 0.8em;
	padding: 1em;
	margin-bottom: 1em;
	border: 0;
	border-radius: 1px;
/*	border-bottom: 1px solid #efefef;*/
	background-color: #f4f4f4;
	color: #2B2B2B;
}

.auth-form input:focus {
	outline: none;
	background-color: #fbfbfb;
	border-bottom: 1px solid #69D2E7;
	/*border: 1px solid blue;*/
}


.auth-form input[type="submit"] {
	margin: auto;
	padding: 0.5em;
	width: 66%;
	margin-top: 2em;
	border-radius: 3px;
	background-color: #69D2E7;
	color: #ffffff;
	font-weight: bold;
	font-size: 0.8em;
}


/* CONTENT CONTAINER */

#content-container {
	width: 80%;
	margin: 0 auto;
	/*background-color: red;*/
}


/* QUIZ SHOW PAGE */

#quiz-info {
	display: block;
	width: 70%;
	margin: 0 auto 1.5em;
	/*line-height: 1em;*/
	/*padding: 0.5em;*/
	/*background-color: red;*/
	background-color: #ffffff;
	padding: 0.75em;
	/*position: relative;*/
}

#quiz-info .left {
	width: 10%;
	margin-right: 2.5%;
	/*background-color: red;*/
}

#quiz-info .right {
	width: 81.5%;
	margin-right: 1%;
	/*background-color: blue;*/
}

#quiz-info .side-panel {
	width: 5%;
	float: left;
	/*background-color: yellow;*/
}

.side-panel li, .side-panel li a {
	list-style: none;
	text-align: center;
	color: #d3d3d3;
	cursor: pointer;
}

#quiz-info span a {
	display: inline-block;
	margin-top: 0.3em;
	background-color: yellow;
	font-weight: bold;
	max-width: 100%;
	font-size: 0.8em;
	text-decoration: none;
	color: purple;  /*change this */
}

#quiz-info:after {
	content: "";
	display: table;
	clear: both;
}  /*clears option float*/ 

/*h3 {
	display: inline-block;
	font-family: "Lato";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.7em;
	background-color: blue;
	padding: 0.2em;
	color: #ffffff;
	margin-bottom: 1.5em;
	text-align: center;
}*/

/*h3 {
	font-family: "Times New Roman", serif;
	text-transform: none;
	display: block;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #efefef;
	padding-bottom: 0.3em;
	font-size: 1.3em;
}*/

#quiz-info h3 {
	/*background-color: blue;*/
}

#quiz-info p {
	margin-top: 0.3em;
	/*background-color: pink;*/
}



#quiz-container {
	width: 70%;
	margin: 0 auto;
	display: block;
	background-color: #ffffff;
	padding: 0.5em;
	margin-bottom: 1.5em; /* same as margin-bottom on #quiz-info */
}

#quiz-container.hide {
	display: none; /* prevents stutter when quiz being hidden */
}

section[class*="q-"] {
	/*background-color: red;*/
	display: block;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

.question {
	/*background-color: green;*/
	width: 100%;
	display: block;
	/*min-height: 3em;*/
	background-color: #ffffff;
	border-bottom: 2px solid green;
	color: green;
	padding: 0.5em;
}

.options {
	/*margin-top: 0.5em;*/
	/*background-color: orange;*/
	/*padding: 5em;*/
	padding: 0.5em;
	display: block;
}

.option {
	width: 32%; /* fallback if calc doesnt work */
	width: calc(100%/3 - 1%);
	/*width: calc(100%/3);*/
	margin-right: 1.32%;
	margin-right: calc(1% + 1%/3);
	background-color: #efefef;
	padding: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	display: inline-block;
	float: left;
}

.options .option:nth-child(3n) {
	margin-right: 0%;
	width: 32.667%;
	/*margin-left: 1%;*/
}

.option.selected {
	background-color: red;
}

section[class*="q-"]:after {
	content: "";
	display: table;
	clear: both;
} /* clears option float */

.option:hover {
	color: #fff;
	background-color: blue;
}

#result-container {
	width: 70%;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 0.5em 0.8em;
	/*border: 1px solid #efefef;*/
}

#result-container h2 {
	margin-bottom: 0.5em;
}

.share {
	margin-top: 0.5em;
	border-top: 1px solid #efefef; /* make this only stretch across about 80% of div? */
	padding: 0.5em 0;
	/*background-color: red;*/
}

.share button {
	display: inline-block;
	border: 0;
	background-color: blue;
}



/* QUIZ INDEX */
.row {
	width: 80%;
	max-height: 7em;
	margin: 0 auto 1em;
	display: block;
	background-color: #ffffff;
	padding: 0.5em;
	overflow: hidden;
	position: relative;
	/*margin-bottom: 2em;*/
}

.row img {
	width: 100%;
	max-height: 6em;
	/*vertical-align: middle;*/
/*	display: block;
	margin: auto;*/
}

.quiz-thumb {
	width: auto;
	height: 100%;
}


.index-left {
	width: 23%;
	margin-right: 1.75%;
	max-height: 7em;
}

/*.index-right {
	width: 75.25%;
	padding: 0em 0.3em 0.3em 0;
	padding: 0.3em;
}*/

.index-right {
	width: 70.25%;
	padding: 0em 0.3em 0.3em 0;
	/*padding: 0.3em;*/
}

.index-right h2 a {
	display: block;
	/*font-family: "Times New Roman", serif;*/
	/*border-bottom: 1px solid #d3d3d3;*/
	color: #2b2b2b;
	text-decoration: none;
}

.index-right p {
	margin-top: 0.3em;
	font-size: 0.95em;
}

.bottom-bar {
	display: block;
	position: absolute;
	/*border-top: 1px solid #efefef;*/
	bottom: 0.5em; /* match the padding */
	font-size: 0.75em;
	color: #a8a8a8;
}

/*.panel {
	display: block;
	position: absolute;
	right: 0.5em;
	min-height: 6em;
	max-height: 6em;
	background-color: red;
}*/

.panel {
	display: block;
	width: 5%;
	float: left;
	min-height: 6em;
	max-height: 6em;
	background-color: red;
}

.row:after {
	content: "";
	display: table;
	clear: both;
} /* clear float */



/* NEW QUIZ */ 
#new-quiz {
	width: 70%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0.5em;
	/*background-color: red;*/
}

#new-quiz h3 {
	font-family: "Times New Roman", serif;
	text-transform: none;
	display: block;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #efefef;
	padding-bottom: 0.3em;
	font-size: 1.3em;
}

.quiz-info {
	width: 100%; /* change back to 80%? */
	padding: 1em 2em;
	margin: 0 auto 2em;
	background-color: #ffffff;
	/*background-color: rgba(255, 255, 255, 0.9);*/
}

.quiz-info h3 {
	font-family: "Times New Roman", serif;
	text-transform: none;
	display: block;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #efefef;
	padding-bottom: 0.3em;
	font-size: 1.3em;
}

.quiz-info label {
	margin-bottom: 0.3em;
	display: block;
	font-size: 0.6em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Lato", "Helvetica", sans-serif;
	/*display: inline-block;*/
}

.quiz-info input {
	width: 100%;
	border: 0;
	background-color: #efefef;
	padding: 0.3em 0.5em;
	border-radius: 3px;
	/*display: inline-block;*/
	margin-bottom: 1em;
	font-size: 0.85em;
}

section[class*="page"] {
	background-color: #ffffff;
	/*padding: 1em;*/
	padding: 1em 1em 1em 2em;
	position: relative;
	margin-bottom: 2em;
}

.pageNum {
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	/*width: 3%;*/
	padding: 0.7em;
}

label[for*="question"] {
	/*background-color: red;*/
	/*margin-top: 1em;*/
	margin-bottom: 0.3em;
	display: block;
}

input[name*="question"] {
	/*background-color: yellow;*/
	width: 80%;
	border: 0;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 0.3em 0.5em;
	background-color: #efefef;
	margin-bottom: 1em;
} /* selects question input fields */ /* this is really similar to .quiz-info input... maybe reuse? */

input[name*="opt"] {
	/*background-color: red;*/
	font-size: 0.7em;
	padding: 0.3em 0.5em;
	display: inline-block;
	width: 32%;
	margin-right: 1%;
	float: left;
	margin-bottom: 0.5em;
	border-radius: 3px;
	border: 1px solid #efefef;
} /* selects option input fields */

input[name*="opt"]:last-of-type {
	margin-bottom: 1em;
	/*background-color: green;*/
}

#add-option {
	display: block;
	/*width: 15%;*/
	padding: 0.5em 1em;
	border-radius: 10px;
	box-shadow: none;
	border: 0;
}

div[id*="opts"]:after {
	content: "";
	display: table;
	clear: both;
} /* clears option float */

.results {
	background-color: #ffffff;
	padding: 1em 2em;
}

.result-label {
	display: block;
	margin-top: 0.5em;
}

.results hr {
	margin: 1em auto;
	border: 0;
	height: 1px;
	background-color: #2b2b2b;
	width: 75%;

}

.one-result {
	display: block;
	padding-top: 0.5em;
	/*margin-top: 0.5em;*/
	margin-bottom: 0.5em;
	/*padding: 1em;*/
}

.result-left {
	width: 30%;
	margin-right: 3%;
}

.result-left input {
	width: 100%;
	display: block;
	margin-bottom: 0.8em;
}

.result-right textarea {
	width: 100%;
	resize: none;
	height: 4em;
}

.result-right {
	width: 67%;
	background-color: orange;
}

.one-result:after {
	content: "";
	display: table;
	clear: both;
}

#save-quiz {
	display: block;
	margin: 1em auto;
	font-size: 1em;
	padding: 0.75em 0;
	width: 30%;
}



/* USER PROFILE */
.profile-section-container {
	width: 85%;
	background-color: #ffffff;
	padding: 1em;
	margin: 0 auto 1em;	
}

#profile-info-container {
	width: 85%;
	background-color: #ffffff;
	padding: 1em;
	margin: 0 auto 1em;
}

#profile-info-content {
	width: 70%;
	/*background-color: red;*/
	margin: 0 auto;
}

#result-tiles-container {
	width: 85%;
	margin: auto;
	background-color: #ffffff;
	padding: 0.75em;
	padding-bottom: 0.25em;
	margin-bottom: 1em; /* match profile-section-container */
}

.result-block {
	width: 19.2%; /* 96 % 5 */
	margin-right: 1%;
	margin-bottom: 1%;
	height: 8.5em;
	padding: 0.5em;
	float: left;
	background-color: red;
}

#result-tiles-container .result-block:nth-child(5n) {
	margin-right: 0%;
	/*background-color: yellow;*/
	/*width: 32.667%;*/
	/*margin-left: 1%;*/
}

.result-block b {
	display: block;
	color: #ffffff;
	font-family: "Helvetica";
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.result-block p {
	font-size: 0.8em;
	font-family: "helvetica";
}

.a {
	background-color: blue;
}

#result-tiles-container:after {
	content: "";
	display: table;
	clear: both;
} /* clear float */

.user-panel {
	background-color: green;
}


/* TRANSITIONS */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

