* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Regular.ttf);
}

body {
	font-family: "Helvetica"; /* find a better font */
	color: #292929;
}

/* HEADER-- nav bar, login link, title */

header {
	width: 100%;	
}

nav {
    width: 100%;
    background-color: #292929;
    /*padding: 0.75em;*/
    padding: 1.2em;
}

nav ul {
	width: 50%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    /*background-color: green;*/
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 20%; /* backup if non-calc() fails */
    width: calc(100% / 3);
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-family: "Lato";
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
}

.login {
	position: absolute;
	right: 2%;
	top: 1.5%;
	color: #d3d3d3;
	font-weight: 100;
}

.login a {
    text-decoration: none;
    font-family: "Lato";
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #ffffff;
}

.blackout {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000000;
	opacity: 0.85;
	overflow: auto;
}

.popup {
	width: 30%;
	height: 50%;
	position: fixed;
	top: 10%; /* 100 minus height divided by 2 */
	left: 35%;
	background-color: #ffffff;
	border-radius: 5px;
}

#closePopup {
	position: absolute;
	top: 1%;
	right: 2%;
	font-style: normal;
	color: #a5a5a5;
}

#closePopup:hover {
	cursor: pointer;
}

.auth-form {
	width: 70%;
	margin: 2.5em auto;
/*	background-color: red;*/
}

.auth-form h4 {
	margin-bottom: 1em;
}

.auth-form input {
	width: 100%;
	display: block;
	font-size: 0.8em;
	padding: 1em;
	margin-bottom: 1em;
	border: 0;
	border-radius: 1px;
/*	border-bottom: 1px solid #efefef;*/
	background-color: #f4f4f4;
	color: #2B2B2B;
}

.auth-form input:focus {
	outline: none;
	background-color: #fbfbfb;
	border-bottom: 1px solid #69D2E7;
	/*border: 1px solid blue;*/
}


.auth-form input[type="submit"] {
	margin: auto;
	padding: 0.5em;
	width: 66%;
	margin-top: 2em;
	border-radius: 3px;
	background-color: #69D2E7;
	color: #ffffff;
	font-weight: bold;
	font-size: 0.8em;
}

h1 {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 3em;
	font-family: "Times New Roman", serif; /* change this */
	color: #000000;
}

h1 a {
	text-decoration: none;
	color: #000000;
}

/* CONTENT CONTAINER */

#content-container {
	width: 80%;
	margin: 0 auto;
	/*background-color: red;*/
}


/* QUIZ SHOW */
