<% include ../partials/header_partial.ejs %>


<form id="new-quiz" action="/quizzes/newquiz" method="POST">

	<section class="quiz-info">

		<h3>Create Quiz</h3>

		<label for="title">Title</label>
		<input type="text" name="title" placeholder="title">

		<label for="description">Description</label>
		<input type="text" name="description" placeholder="description">

		<label for="imgUrl" id="imgUrl-label">Image</label>

		<div class="image-upload">
			<div class="img-path">
				<input type="text" id="img-path" placeholder="upload your image">
				<!-- <span>upload a file</span> -->
			</div>
			<div class="upload-button">
				<label for="file-input" class="quiz-img">
					Select
				</label>
			</div>

			<span class="small" id="switch">Or click to enter a url</span>
			<input type="file" id="file-input" class="upload">

			<input type="hidden" id="imgUrl" name="imgUrl" value="" />

		</div>
		<!-- <input type="file" id="file-input"/> -->
		<!-- <img id="preview-quizimg" src="http://i.imgur.com/tbOFv.png" /> -->
		<!-- <input type="hidden" id="imgUrl" name="imgUrl" value="" /> -->
		<!-- <input type="hidden" id="avatar_url" name="avatar_url" value="http://i.imgur.com/tbOFv.png" /> -->
		<!-- <input type="text" name="imgUrl" placeholder="image url"> -->

	</section> <!-- closes #quiz-info -->



	<section class="page-1">

		<h3>Questions</h3>

		<div class="hint">
				Click arrow to add another question or navigate back to a previous question. Options have points that correspond to their order and are added to determine results. For more information about how quizzes work, <a href="/quizzes/quiztypes">click here.</a>
		</div>

		<span class="pageNum">1</span>

		<div id="q1" class="q1 active">

			<!-- <label for="question-1">Question 1</label> -->
			<input type="text" name="question-1" class="q1" placeholder="write your question">

			<div id="q1opts" class="q1">

				<input type="text" name="q1opt1" class="q1" placeholder="option 1">
				<input type="text" name="q1opt2" class="q1" placeholder="option 2">
				<input type="text" name="q1opt3" class="q1" placeholder="option 3">

			</div><!-- closes #q1opts.q1 -->

			<button id="add-option" class="q1">Add Option</button>


		</div><!-- closes #q1.q1 -->

		<i class="fa fa-chevron-right next p1" id="next-page"></i> <!-- might have to move this -->

	</section> <!-- closes .page-1 -->

	<section class="results">
		<h3>Add Results</h3>

		<button id="add-result">Add Result</button>
	</section>


	<button id="save-quiz">Save Quiz</button>

</form>



</div><!-- closes #content-container -->

<script type="text/javascript" src="../js/newquizform.js"></script>

<% include ../partials/footer_partial.ejs %>