<% include ../partials/header_partial.ejs %>



</div><!-- closes #content-container -->

<script type="text/javascript" src="../js/newquizform.js"></script>

<% include ../partials/footer_partial.ejs %>