<% include ../partials/header_partial.ejs %>

<div id="blurb">
	I'll add something soonish.
</div>


</div><!-- closes #content-container -->

<!-- scripts unique to page go down here -->

<% include ../partials/footer_partial.ejs %>