<html>
<head>
	<title>QuizQuiz</title>
	<link rel="stylesheet" type="text/css" href="/css/error.css">
	<meta http-equiv="refresh" content="2;url=/quizzes" />
</head>
<body>

	<p>Yeah. I probably messed something up. Sue me.</p>

	<p class="small">Don't worry. Redirecting to quizzes, and we'll pretend this never happened.</p>


</body>
</html>