<% include ../partials/header_partial.ejs %>

<div id="blurb">
	LOLOL. I haven't written this yet. Figure out how the quizzes work yourself. kthxBAAAAAIIIIIIII.
</div>


</div><!-- closes #content-container -->

<!-- scripts unique to page go down here -->

<% include ../partials/footer_partial.ejs %>