<% include ../partials/header_partial.ejs %>

<div id="blurb">
	You must be logged in to do that.
</div>


</div><!-- closes #content-container -->

<!-- scripts unique to page go down here -->

<% include ../partials/footer_partial.ejs %>