<% include ../partials/header_partial.ejs %>

	You must be logged in to do that.


</div><!-- closes #content-container -->

<script type="text/javascript" src="../js/quizindex.js"></script>

<% include ../partials/footer_partial.ejs %>